# Exploratory Data Analysis

Work in progress. Demonstrate exploratory principles.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
# Go to data.gov, click on Health, and find the Hospital Charge data set
filename = './Data/hospital_charge.csv'

In [3]:
df = pd.read_csv(filename)
df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,$32963.07,$5777.24,$4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,$15131.85,$5787.57,$4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,$37560.37,$5434.95,$4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,$13998.28,$5417.56,$4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,$31633.27,$5658.33,$4851.44

In [4]:
df.columns

Index([u'DRG Definition', u'Provider Id', u'Provider Name',
       u'Provider Street Address', u'Provider City', u'Provider State',
       u'Provider Zip Code', u'Hospital Referral Region Description',
       u' Total Discharges ', u' Average Covered Charges ',
       u' Average Total Payments ', u'Average Medicare Payments'],
      dtype='object')

In [5]:
df.drop(df.columns[:5],axis=1,inplace=True)
df.head()

,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,AL,36301,AL - Dothan,91,$32963.07,$5777.24,$4763.73
1,AL,35957,AL - Birmingham,14,$15131.85,$5787.57,$4976.71
2,AL,35631,AL - Birmingham,24,$37560.37,$5434.95,$4453.79
3,AL,35235,AL - Birmingham,25,$13998.28,$5417.56,$4129.16
4,AL,35007,AL - Birmingham,18,$31633.27,$5658.33,$4851.44

In [6]:
df.drop(df.columns[1:3],axis=1,inplace=True)
df.head()

,Provider State,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,AL,91,$32963.07,$5777.24,$4763.73
1,AL,14,$15131.85,$5787.57,$4976.71
2,AL,24,$37560.37,$5434.95,$4453.79
3,AL,25,$13998.28,$5417.56,$4129.16
4,AL,18,$31633.27,$5658.33,$4851.44

In [7]:
names = {df.columns[0]:"state",
         df.columns[1]:"tot_discharge",
         df.columns[2]:"avg_cov_charge",
         df.columns[3]:"avg_tot_payment",
         df.columns[4]:"avg_med_payment"}
df.rename(index=str,columns=names,inplace=True)
df.head()

  state  tot_discharge avg_cov_charge avg_tot_payment avg_med_payment
0    AL             91      $32963.07        $5777.24        $4763.73
1    AL             14      $15131.85        $5787.57        $4976.71
2    AL             24      $37560.37        $5434.95        $4453.79
3    AL             25      $13998.28        $5417.56        $4129.16
4    AL             18      $31633.27        $5658.33        $4851.44

In [12]:
# df.replace(to_replace='[\$]',value="",regex=True,inplace=True)
# print df.head()
# df = df.astype({df.columns[2]:float,df.columns[3]:float,df.columns[4]:float})

In [10]:
type(df['avg_tot_payment'][0])

str

In [ ]:
states = np.unique(df['state'])
df.plot(kind='scatter',x='avg_med_payment',y='avg_cov_charge',alpha=.3,linewidth=0,title="all states for all procedures")
plt.show()

In [ ]:
for st in states:
    df[df['state']==st].plot(kind='scatter',x='avg_med_payment',y='avg_cov_charge',alpha=.3,linewidth=0,title=st)
    plt.show()

In [ ]:
df.plot(kind='scatter',x='avg_cov_charge',y='tot_discharge',alpha=.3,linewidth=0,title="all states for all procedures")
plt.show()

In [ ]:
df[df['avg_cov_charge']>800000]

In [ ]:
for st in states:
    df[df['state']==st].plot(kind='scatter',x='avg_cov_charge',y='tot_discharge',alpha=.3,linewidth=0,title=st)
    plt.show()

In [ ]:
df.plot(kind='scatter',x='avg_med_payment',y='avg_tot_payment',alpha=.3,linewidth=0,title="all states for all procedures")
plt.show()

In [ ]:
for st in states:
    df[df['state']==st].plot(kind='scatter',x='avg_med_payment',y='avg_tot_payment',alpha=.4,linewidth=0,title=st)
    plt.show()