In [86]:
import utils as ut
import numpy as np
from sklearn.linear_model import LogisticRegressionCV,LogisticRegression

In [87]:
filename = ut.get_file()

	Options

            1: trump from lab computer

            2: trump from linux mint

            3: clinton from lab computer

            4: clinton from linux mint


Enter number >> 1

In [88]:
Trump = ut.TwitterCorpus(filename,n=-2000,m=-25)

Loading file...

Errors: 0
Time: 0.386312007904

In [89]:
Trump.clean_text()

Cleaning text...
Time: 0.0253999233246

In [90]:
Trump.convert_time()

Converting time to datetime object...
Time: 0.00650691986084

In [91]:
df = Trump.make_df()

In [92]:
df.tail()

,time,usr_fol,usr_n_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT
1970,2016-11-09 01:46:30,880.0,40637.0,303.0,1,1,0,1
1971,2016-11-09 01:46:30,595.0,51146.0,314.0,0,1,1,1
1972,2016-11-09 01:46:30,1592.0,7742.0,1516.0,1,1,0,1
1973,2016-11-09 01:46:30,3601.0,34858.0,4209.0,0,1,0,1
1974,2016-11-09 01:46:30,201.0,31925.0,92.0,1,1,0,1

In [93]:
df.describe()

,usr_fol,usr_n_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT
count,1.975000e+03,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000
mean,2.585892e+03,29452.131646,1071.196456,0.444051,0.822785,0.372658,0.699241
std,3.604627e+04,64302.114988,4718.807639,0.587599,0.576461,0.905830,0.458704
min,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.540000e+02,2383.500000,175.000000,0.000000,0.500000,0.000000,0.000000
50%,3.950000e+02,9562.000000,361.000000,0.000000,1.000000,0.000000,1.000000
75%,9.870000e+02,29928.500000,813.500000,1.000000,1.000000,0.000000,1.000000
max,1.559200e+06,983047.000000,155408.000000,3.000000,5.000000,10.000000,1.000000

In [94]:
model = LogisticRegressionCV()

In [95]:
model.fit(df[df.columns[4:7]],df[df.columns[-1]])

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [96]:
Trump_ = ut.TwitterCorpus(filename,n=-25,m=None)

Loading file...

Errors: 0
Time: 0.38233089447

In [97]:
Trump_.clean_text()
Trump_.convert_time()

Cleaning text...
Time: 0.000432014465332
Converting time to datetime object...
Time: 9.20295715332e-05

In [98]:
df_ = Trump_.make_df()

In [99]:
model.predict_proba(df_[df_.columns[4:7]])

array([[ 0.14825974,  0.85174026],
       [ 0.78592346,  0.21407654],
       [ 0.15261215,  0.84738785],
       [ 0.78461366,  0.21538634],
       [ 0.78592346,  0.21407654],
       [ 0.15122663,  0.84877337],
       [ 0.14985145,  0.85014855],
       [ 0.14985145,  0.85014855],
       [ 0.14985145,  0.85014855],
       [ 0.14985145,  0.85014855],
       [ 0.15122663,  0.84877337],
       [ 0.78772723,  0.21227277],
       [ 0.14985145,  0.85014855],
       [ 0.14985145,  0.85014855],
       [ 0.78772723,  0.21227277],
       [ 0.14985145,  0.85014855],
       [ 0.14985145,  0.85014855],
       [ 0.15122663,  0.84877337],
       [ 0.14985145,  0.85014855],
       [ 0.14985145,  0.85014855],
       [ 0.15122663,  0.84877337],
       [ 0.14985145,  0.85014855],
       [ 0.14886456,  0.85113544],
       [ 0.78642545,  0.21357455],
       [ 0.14985145,  0.85014855]])

In [100]:
df_['predicted'] = model.predict(df_[df_.columns[4:7]])
df_.head(25)

,time,usr_fol,usr_n_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT,predicted
0,2016-11-09 01:46:30,1009.0,70.0,704.0,1,1,3,1,1
1,2016-11-09 01:46:30,506.0,25862.0,135.0,0,0,0,0,0
2,2016-11-09 01:46:30,1087.0,1111.0,396.0,2,1,0,1,1
3,2016-11-09 01:46:30,232.0,51.0,188.0,0,0,1,0,0
4,2016-11-09 01:46:30,106.0,3257.0,89.0,0,0,0,0,0
5,2016-11-09 01:46:30,2748.0,43067.0,3175.0,1,1,0,1,1
6,2016-11-09 01:46:30,1520.0,56622.0,2047.0,0,1,0,0,1
7,2016-11-09 01:46:30,666.0,13172.0,760.0,0,1,0,1,1
8,2016-11-09 01:46:30,836.0,30858.0,828.0,0,1,0,1,1
9,2016-11-09 01:46:30,838.0,35646.0,433.0,0,1,0,1,1
10,2016-11-09 01:46:30,2851.0,299395.0,1190.0,1,1,0,1,1
11,2016-11-09 01:46:30,323.0,1646.0,510.0,1,0,0,0,0
12,2016-11-09 01:46:30,1206.0,56104.0,521.0,0,1,0,1,1
13,2016-11-09 01:46:30,85.0,14155.0,91.0,0,1,0,1,1
14,2016-11-09 01:46:30,5139.0,18214.0,479.0,1,0,0,0,0
15,2016-11-09 01:46:30,185.0,7873.0,251.0,0,1,0,1,1
16,2016-11-09 01:46:30,547.0,24022.0,2007.0,0,1,0,1,1
17,2016-11-09 01:46:30,250.0,2321.0,243.0,1,1,0,1,1
18,2016-11-09 01:46:30,1477.0,35115.0,2228.0,0,1,0,1,1
19,2016-11-09 01:46:30,351.0,2158.0,851.0,0,1,0,1,1
20,2016-11-09 01:46:30,450.0,34016.0,375.0,1,1,0,1,1
21,2016-11-09 01:46:30,3707.0,1030.0,265.0,0,1,0,1,1
22,2016-11-09 01:46:30,187.0,3072.0,328.0,0,1,1,1,1
23,2016-11-09 01:46:30,71.0,7743.0,6.0,1,0,1,0,0
24,2016-11-09 01:46:31,537.0,5730.0,752.0,0,1,0,1,1

In [104]:
sum(df_['RT']!=df_['predicted'])

1

Mentions are highly correlated with retweets. This makes sense because a retweet pretty much always mentions the person who originally sent the tweet.

In [105]:
sum(df['RT']==df['n_mentions'])

1782

In [106]:
len(df)

1975